@mixin prefix($property, $value, $prefixes: ()) {
  @each $prefix in $prefixes {
   #{'-' + $prefix + '-' + $property}: $value;
 }
 #{$property}: $value;
}

@font-face {
  font-family: "DINWebBold";
  src: url("/assets/fonts/DINWeb-CondBold.woff") format("woff");
}

@font-face{
  font-family:"DIN-Regular";
  src:url("/assets/fonts/DIN-Regular.otf") format("opentype");
  font-weight:400;
  font-style:normal;
}


html{
  position: relative;
  min-height: 100%;

}

html, body{
  margin: 0;
  padding: 0;

}

body {
  height:100%;
  background-color:#464646;
  font-family: DINWebBold, Helvetica, Arial; 
  margin: 0 0 100px; /* bottom = footer height */
}

#bar{
  position: fixed;
  height:52px;
  width:100%;
  background-color:#2b2f2f;    
  z-index: 10;
  border-bottom: 1px solid #353b3b;
  text-align: center;
  transition: opacity .3s;
}

#toplogo{
  position:absolute;
  width:80px;
  left:100px;
  top:12px;
  @media screen and (max-width: 700px) {
   display:none;
 }
}

.toptext{
  position: absolute;
  line-height: 52px;
  margin:auto;
  width:100%;
  height:50px;
  top:0px;
  color:white;
  font-size:2em; 
}

#container{
  padding-bottom:10%;
  padding-top:10%;
  text-align:center; 
  @include prefix(perspective, 1000px, webkit ms moz o);
  @include prefix(user-select, none, webkit ms moz o); 
      -webkit-touch-callout: none;
  @media only screen and (min-device-width: 320px) and (max-device-width: 640px) and (-webkit-min-device-pixel-ratio: 2) {
    padding-top:15%;
  }
}

.cards{

  cursor:default;
  display:inline-block;
  position:relative;
  border-radius: 16px;
  height: 280px;
  width: 180px;	
  margin:20px;   
  opacity: 1;
  @include prefix(transform-style, preserve-3d, webkit ms moz o);
  transition: opacity .5s;
  @media only screen and (min-device-width: 320px) and (max-device-width: 640px) and (-webkit-min-device-pixel-ratio: 2) {
    height: 140px;
    width: 90px;  
    border-radius: 8px;
  }

}

.front, .back{

  overflow: hidden;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);    
  width:100%;
  height:100%;
  position:absolute;
  border-radius: 16px;
  border:4px solid #e68391;
  background: linear-gradient(to bottom, #353b3b 0%,#4c5555 100%);
  @include prefix(backface-visibility, hidden, webkit ms moz o);
  @media only screen and (min-device-width: 320px) and (max-device-width: 640px) and (-webkit-min-device-pixel-ratio: 2) {
   border:2px solid #e68391;
   border-radius: 8px;
 }
}

.front{   
  text-align:left;
  @include prefix(transform,rotateY(0deg)); /*only needed to prevent ".popupfront" from disapearing after transition end (only effects chrome) */
}

.back{
  text-align:right;
  @include prefix(transform,rotateY(180deg)); 
}

.cardlogo{
  margin:10%;
  height: 80%;
  width: 80%;	
}

.number-top{
  position:absolute;
  top:10px;
  left: 10px;
  color:white; 
  font-size:2em;  
  @media only screen and (min-device-width: 320px) and (max-device-width: 640px) and (-webkit-min-device-pixel-ratio: 2) {
    font-size:1em; 
    left: 5px;
    top:5px;
  }
}

.number-center{
  position: absolute;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);       
  font-size:6em;    
  color:grey;    
  text-shadow: 
  -1px -1px 1px #353b3b, 
  2px 2px 1px #363636;
  @media only screen and (min-device-width: 320px) and (max-device-width: 640px) and (-webkit-min-device-pixel-ratio: 2) {
    font-size:3em; }       
  }

  .number-bottom{
    position:absolute;
    bottom:10px;
    right: 10px;
    color:white; 
    font-size:2em;  
    @include prefix(transform, rotate(180deg), webkit ms moz o);    
    @media only screen and (min-device-width: 320px) and (max-device-width: 640px) and (-webkit-min-device-pixel-ratio: 2){
      font-size:1em; 
      left: 5px;
      top:5px;
    }                  
  }

  .fadetransition{
    opacity: 0.0;
  }

  .popupfront, .popupback{
    text-align: center;
    color:white;
    font-size:1.2em;
    position: absolute;
    left: -330px; 
    right: 0;  
    margin:auto;
    width:200px;
    top: 220px;
    transition: transform 1.0s; 
    @media only screen and (min-device-width: 320px) and (max-device-width: 640px) and (-webkit-min-device-pixel-ratio: 2){
      font-size:0.6em; 
      left: -165px;
      width:100px;
      top:100px;
    }
  }

  .popupanim{
    transform: translateX(160px);
    @media only screen and (min-device-width: 320px) and (max-device-width: 640px) and (-webkit-min-device-pixel-ratio: 2) {
      transform: translateX(80px);
    }
  }
   
  .fliptransition{
    transition: transform .5s;
  }

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 125px;
  width: 100%;
  background-color: #2b2f2f; }

li {
  font-family: DIN-Regular, Helvetica, Arial;
  font-size: 1.2em;
  color: white;
  list-style: none; 
}

a {
  color: #66b0c7; 
}